################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RabbitComputerHelper
/RabbitComputerHelper/bin/Debug/net8.0
/RabbitComputerHelper/obj
