################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RabbitComputerHelper
/RabbitComputerHelper/bin/Debug/net8.0
/RabbitComputerHelper/obj
/.vs/ProjectEvaluation
/RabbitComputerHelper.Test/bin/Debug/net8.0
/RabbitComputerHelper.Test/obj
*.coverage
/RabbitComputerHelper.Test/bin/Debug/net10.0/CoverletSourceRootsMapping_RabbitComputerHelper.Test
/RabbitComputerHelper/bin/Debug/net10.0
/RabbitComputerHelper.Test/bin/Debug/net10.0
